<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
    <link rel="stylesheet" href="../css/car-details.css">
</head>
<body>
    <div class="nav-container">
        <%- include("nav.ejs") %>
    </div>
    <div class="grid-container">
        <h1><%= car.make %> - <%= car.model %></h1>
        <main>
            <h3>Year: <%= car.year %></h3>
            <h3>Domestic: <%= car.domestic === true ? "Yes" : "No" %></h3>
        </main>
        <div class="image">
            <img src="<%= car.image %>"/>
        </div>
        <div class="buttons">
            <a href="/index/<%= car._id %>/edit"><button id="edit-btn">Edit Car</button></a>
            <form action="/index/<%= car._id %>?_method=DELETE" method="POST">
                <button type="submit" id="delete-btn">Delete</button>
            </form>
            <a href="/index"><button id="garage-btn">Garage</button></a>
        </div>
    </div>
</body>
</html>