<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <div class="nav-container">
        <%- include("nav.ejs") %>
    </div>
    <h1>Edit Car Here</h1>
    <form action="/index/<%= id %>/edit?_method=PUT" method="POST">        
        <label>New Make:</label>
        <input type="text" required name="make" value="<%= car.make %>"/>
        <label>New Model:</label>
        <input type="text" required name="model" value="<%= car.model %>"/>
        <label>New Year:</label>
        <input type="number" required min="1970" max="2024" name="year" value="<%= car.year %>"/>
        <label>Image URL:</label>
        <input type="text" required name="image" value="<%= car.image %>"/>
        <section>
            <label>Description:</label>
            <textarea required name="message" maxlength="200" id="text-area"></textarea>
        </section>
        <label>Domestic:</label>
        <input type="checkbox" name="domestic"
        <% if(car.domestic){ %>
            checked
        <% } %> />
        <button type="submit" id="submit-btn">Submit</button>
    </form>
    <a href="/index/<%= id %>"><button id="return-btn">Return</button></a>
</body>
</html>